<div class="page-index">
    <div class="title">知识</div>
    <!-- <div class="weui-btn-area">
        <button class="weui-btn weui-btn_primary">toast</button>
    </div> -->
</div>

<div>知识列表</div>


<div class="weui-tabbar">
    <a href="#home" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img src= <%=(require('../../images/SY.png'))%> alt="" class="weui-tabbar__icon">
            <span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>
        </span>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a href="#doctor" class="weui-tabbar__item">
        <img src=<%=(require('../../images/YS.png'))%> alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">问诊</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
        <span style="display: inline-block;position: relative;">
            <img src=<%=(require('../../images/GYJT-hover.png'))%> alt="" class="weui-tabbar__icon">
            <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
        </span>
        <p class="weui-tabbar__label">知识</p>
    </a>
    <a href="#mine" class="weui-tabbar__item">
        <img src=<%=(require('../../images/WD.png'))%> alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我</p>
    </a>
</div>