<div class="addReport" style="background-color:white;margin-top:10px;" id="addReport">
    <div class="weui-cell" id="addRelation">
        <div class="weui-cell__bd">
            <p>与您的关系</p>
        </div>
        <div class="weui-cell__ft" id="relation">请选择</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd" id="addName">
            <p>姓名</p>
        </div>
        <div class="weui-cell__ft">
            <input class="weui-input" id="name" type="text" placeholder="请输入姓名" style="text-align:right;">
        </div>
    </div>
    <div class="weui-cell chooseSex">
        <div class="weui-cell__bd">
            <p>性别</p>
        </div>
        <div class="weui-cell__ft">
            <label class="sex-label" for="male">
                    <i class="weui-icon-success" id="male-icon"></i>男
                    <input type="radio" class="sexChecked" name="sex" id="male" checked="checked">
            </label>

            <label class="sex-label" for="female">
                    <i class="weui-icon-circle" id="female-icon"></i>女
                    <input type="radio" class="sexChecked" name="sex" id="female" >
            </label>
        </div>
    </div>
    <div class="weui-cell" id="addBirthDate">
        <div class="weui-cell__bd">
            <p>出生日期</p>
        </div>
        <div class="weui-cell__ft">
            <p id="date">请选择</p>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>手机号码</p>
        </div>
        <div class="weui-cell__ft">
            <input id="phone" class="weui-input" type="tel" maxlength="11" placeholder="请填写" style="text-align:right;">
        </div>
    </div>
</div>

<button type='submit' id="commit" class="commitPatient">提交</button>