<div class="changeName-navigation" id="navigation">
        <a href="javascript:;" class="fanhui"></a>
        <a href="javascript:;" class="title"><%=title%></a>
        <a href="javascript:;" class="done">完成</a>
</div>

<div class="weui-cells__title">6个汉字或者12个字母以内</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入用户名">
        </div>
    </div>
</div>
