<%=(require('@/components/navigation/navigation.ejs')({title:'个人信息'}))%>

<div class="weui-cells" id="chooseFile">
    <a id="select-photo" class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>头像</p>
        </div>
        <div name="photo" class="weui-cell__ft photo">
            <span>
                <input type="file" accept="image/*" />
            </span>
        </div>
    </a> 
    <a class="weui-cell weui-cell_access" href="javascript:;" id="name-cell">
        <div class="weui-cell__bd">
            <p>昵称</p>
        </div>
        <div class="weui-cell__ft"> 
            <div class="weui-cell__hd" id="name">
                未设置
            </div>
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>手机号</p>
        </div>
        <div class="weui-cell__ft"> 
            <div class="weui-cell__hd" id="phone">
                
            </div>
        </div>
    </a>
 </div>
    
  
