<%=(require('@/components/navigation/navigation.ejs')({title:'意见反馈'}))%>

<div class="weui-cells__title">我们懂得聆听，知错就改，您的意见是</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="这里仅仅是对产品意见进行收集" rows="3" id="opinion"></textarea>
            <div class="weui-textarea-counter"><span id="words"></span>/<span id="total"></span></div>
        </div>
    </div>
</div>

<div class="weui-cells__title">请留下您的手机号，以便于我们联系您</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入您的手机号" id="contact">
        </div>
    </div>
</div>

<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="commit">提交</a>
</div>