@import '../../css/base.scss';
@import '../../css/function.scss';

// 没有添加健康档案
.tip {
    text-align: center;
    img {
        margin-top:100px;
    }
    p {
        margin-top: 10px;
        color: $grayColor;
    }
    button{
        margin-top:10px;
        font-size: 18px;
        color:white;
        background-color: $themeColor;
        width: 150px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        outline-style: none; //去掉默认样式
        border: none; //去掉默认样式
    }
}

// 添加健康档案
.addReport {
    .chooseSex{
        .sex-label {
            position: relative;
            .sexChecked{
                position: absolute;
                width: 50px;
                height: 25px;
                left:0; 
                opacity: 0;
                outline: none;
                border: none;
            }
        }
      
    }
}
.commitPatient {
    display: block;
    width: 80%;
    height: 40px;
    background-color: $themeColor;
    color:white;
    margin:20px auto;
    font-size: 20px;
    border-radius: 20px;
    outline-style: none;
    border: none;
}

.healthRecord{
    width: 100%;
    .health-info{
        background-color: white;
        position: relative;
        width: 100%;
        height: 80px;
        padding-left:70px;
        overflow: hidden;
        .avatar{
            $imgWidth:50px;
            position: absolute;
            left:10px;
            top:50%;
            margin-top:-$imgWidth/2;
            width: $imgWidth;
            height: $imgWidth;
            border-radius: $imgWidth/2;
            border: 1px solid $themeColor;
        }
        .name-line{
            margin-top:20px;
            .relation{
                margin-left:10px;
            }
        }
        .age-line{
            font-size: 13px;
            color: $grayColor;
        }
        .age{
            margin-left:10px;
        }
        .arrow {
            position: absolute;
            background:url('../../images/XYJT.png') no-repeat center;
            width: 15px;
            height: 22px;
            top:50%;
            margin-top:-11px;
            right: 10px;
        }
    }
    .weui-tab__panel{
        width: 100%;
    }
}