<div class="nav"><span class="back"></span></div>
<div class="personalInfo">
    <img class="avatar" src="<%=require('../../images/icon/医生.png')%>" alt="">
    <p class="doctor-detail-info">孙冬冬 副主任医师 副教授 西京医院</p>
    <p class="recommend">推荐热度(综合):  <span class="score">4.3</span>  (近两年患者推荐)</p>
    <p class="manyidu">24小时回复率: <span class="replyScore">93%</span>  在线服务满意度: <span class="satisfy">96%</span></p>
    <p class="consult"><span>咨询</span><span>预约挂号</span><span>私人医生</span><span>团队咨询</span><span>远程门诊</span></p>
</div>

<!-- 专业擅长 -->
<div class="goodAt">
    <p class="goodAt-nav">
        <img class="goodAt-icon" src="<%=require('../../images/iPhone_专家看片_专业擅长标_12x13_@3x.png')%>" alt=""><span>专业擅长</span>
    </p>
    <p class="goodAt-content">主要从事冠心病、心力衰竭、高血压等诊疗工作</p>
</div>

<!-- 执业经历 -->
<!-- <div class="jingli">
    <p class="goodAt-nav">
            <img class="goodAt-icon" src="<%=require('../../images/iPhone_专家看片_专业擅长标_12x13_@3x.png')%>" alt=""><span>专业擅长</span>
    </p>
    <p class="goodAt-content">主要从事冠心病、心力衰竭、高血压等诊疗工作</p>
</div> -->