@import '../../css/base.scss';
@import '../../css/function.scss';

//横线css
$border-line:1px $lineColor solid;

// 标题导航样式
@mixin nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid $lineColor;
    span {
        margin-left:10px;
        font-size: 18px;
        font-weight: bold;
    }

    a {
        float: right;
        margin-right: 10px;
        color:$themeColor;
    }
}

/* 导航栏 */
.search_nav{
    position: fixed;
    z-index: 99999;
    height: 44px;
    width: 100%;
    background-color: rgba(44, 169, 253,0);
    padding:0 50px  0 10px;
    input[type=search]{
        margin-top:7px;
        height: 30px;
        width: 100%;
        background-color:rgba(255,255,255,0.5);
        outline: none;
        border:0;
        border-radius: 5px;
        padding-left:30px;
        color:white;
    }
    /* 设置placeholder为白色 */
    input[type="search"]::-webkit-input-placeholder{
        color:white;
    }
    /* 去掉边框和删除按钮 */
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    } 
   .searchIcon {
        position: absolute;
        left:15px;
        top:50%;
        margin-top:-9.5px;
        width: 19px;
        height: 19px;
        background:url("../../images/sousuo.png") no-repeat;
        background-size: 19px 19px;
    }
    .message{
        position: absolute;
        right: 10px;;
        top:50%;
        width: 20px;
        height: 25px;
        margin-top:-12.5px;
        img {
            display: block;
            width: 100%;
        }
        .messageCount{
            position: absolute;
            right: -5px;
            top:-5px;
            width: 16px;
            height: 16px;
            text-align: center;
            line-height: 16px;
            color: white;
            background-color: red;
            border-radius: 8px;
            display: none;
        }
    }

}

/*轮播图*/ 
.swiper-container {
    width: 100%;
    height: 200px;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    // 重写轮播器选中时的pagination的颜色
    .swiper-pagination-bullet-active {
        background: white;
    }
}

// 找医生 去挂号
.service {
    position: relative;
    width: 100%;
    height: 80px;
    background: white;
    .line {
        position: absolute;
        width: 1px;
        height: 80%;
        top:10%;
        background-color:$lineColor;
    }

    div{
        padding-top: 10px;
        width:50%;
        height: 100%;
        float: left; //标准文档流下50%无法平分
        $imgHeight:30px;
        p:nth-child(1){
            width: 90px;
            height: $imgHeight;
            display:table;
            margin:0 auto;
            position: relative;
            img{
                width: 30px;
                height: $imgHeight;
                margin-right: 5px;
            }
            .title{
                $titleHeight:22px;
                position: absolute;
                color:$blackColor;
                font-weight: bold;
                height: $titleHeight;
                line-height: $titleHeight;
                margin-top:-$titleHeight/2;
                top:50%;
                font-size: 18px;
            }
       }
    
        p:nth-child(2){
            text-align: center;
            color:$grayColor;
            margin-top:5px;
            font-size: 14px;
            .doctorCount {
                color:$themeColor;
            }
        }
    }
}

// 在线问诊
.consultOnline {
    margin-top:10px;
    width: 100%;
    height: 200px;
    background-color: white;
    margin-bottom:10px;
    .category {
        width: 100%;
        height: 40px;
        text-align: center;
        color:$blackColor;
        line-height: 40px;
        border-bottom: $border-line;
    }
    .consult {
        width: 100%;
        height: 80px;
        div:nth-child(1){
            border-right: $border-line;
        }
        div{
           float: left;
            width: 50%;
            height: 100%;
            .title {
                text-align: center;
                font-size: 18px;
                color:$blackColor;
                margin-top:10px;
                font-weight: bold;
            }
            .desc {
                text-align: center;
                color:$grayColor;
                font-size: 14px;
                margin-top:5px;
            }
        }
    }
    .phoneOrVideo {
        width: 100%;
        height: 80px;
        div {
            float: left;
            width: 33.3%;
            height: 100%;
            border-right: $border-line;
            .title {
                width: 100%;
                text-align: center;
                font-size: 18px;
                color:$blackColor;
                margin-top:10px;
                font-weight: bold;
            }
            .desc {
                width: 100%;
                text-align: center;
                font-size: 14px;
                color:$grayColor;
                margin-top:5px;
            }
        }
        div:nth-child(3) {
            border-right: none;
        }
    }
}

// 线下问诊
.consult {
    width: 100%;
    height: 160px;
    background-color: white; 
    div{
        float: left;
        width: 50%;
        height: 50%;
        text-align: center;
        border-right: 1px solid $lineColor;
        border-bottom: 1px solid $lineColor;
        .title {
            font-size: 18px;
            color:$blackColor;
            margin-top:10px;
            font-weight: bold;
        }
        .desc {
            font-size: 14px;
            color:$grayColor;
            margin-top:5px;
        }
    }
}

// 热门门诊
.hot {
    background-color: white;
    margin-top:10px;
    width: 100%;
    height: 200px;
    .nav {
      @include nav
    } 
    .category {
        width: 100%;
        height: 160px;
        div {
            width: 33.3%;
            height: 50%;
            float: left;
            border-right: $border-line;
            border-bottom: $border-line;
            text-align: center;
            p {
                margin-top:10px;
                height: 16px;
                line-height: 16px;
            }
            img {
                margin-top:5px;
                width: 35px;
                height: 35px;
            }
        }
    }
}

// 精选好文
.goodArticle {
    margin-top:10px;
    background-color: white;
    .nav {
        @include nav
    }
    .content{
        div {
            width: 100%;
            height: 80px;
            padding: 10px;
            border-bottom:$border-line;
            .title{
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color:$blackColor;
                font-size: 18px;
            }
            .desc {
                margin-top:5px;
                color:$grayColor;
                height: 26px;
                line-height: 26px;
                span:nth-child(1){
                    display: inline-block;
                    background-color: $themeColor;
                    width: 40px;
                    height: 100%;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 5px;
                    color:white;
                }
                .total {
                    margin-left: 10px;
                }
            }
        }
    }
}