
<%=(require('@/components/navigation/navigation.ejs')({title:'设置与帮助'}))%>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;" id="resetPhone">
        <div class="weui-cell__bd">
            <p>修改手机号</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;" id="resetPwd">
        <div class="weui-cell__bd">
            <p>修改密码</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <!-- <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>清除缓存</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a> -->
</div>

<div class="version">当前版本:1.0.0</div>
<a href="javascript:;" class="weui-btn weui-btn_warn" style="margin-top:10px;" id="logout">退出登录</a>