<div class="container">
        <div class="navigation" id="navigation">
                <a href="javascript:;" class="back"></a>
                <a href="javascript:;" class="title"><%=title%></a>
        </div>
</div>


